#output {
    background: white; 
    border-radius: 10px; 
    border-top: 10px solid cyan; 
    padding: 10px; 
    float: none; 
    text-align: left;
}
body {
    background-color: darkblue;
}
#send {
    background-color: lime;
}
#question_turn, #answer_turn, #player1_score, #player2_score, #player1_name, #player2_name{
    color: white;
    display: inline;
}